
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/carbonClon.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <title>Carbon | Create and share beautiful images of your source code</title>
</head>
<body>
    <br>
    <!-- Donde se encuentra el boton -->
    <div id ="cntBotonSing" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button  class="btn btn-outline-light" type="button">
            <img src="~/git.png" />
            Sing in/up
        </button>
        
    </div>
    <!-- Logo -->
    <div class="d-flex justify-content-center">
        <img src="~/carbonLogo.png" />
    </div>

    <!-- Descripcion de la pagina -->
    <div class="d-flex justify-content-center text-white">
        <p class="h3">
            Create and share beautiful images of your source code.
            <br />
            Start typing or drop a file into the text area to get started.
        </p>

    </div>

    <!-- Inicio de la caja de herramientas y el editor de texto -->
    <div class="d-flex justify-content-center ">
        <br>
        <!-- Marco con bordes blancos que contiene las herramientas y el editor de texto -->
        <div class=" border border-white border-3 rounded w-75 ">
            <!-- Caja de herramientas -->
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-outline-light">

                    <img src="~/tuerca16.png" />
                </button>

                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div>-</div>
                <button type="button" class="btn btn-default btn-outline-light">

                    <img src="~/tuerca16.png" />
                </button>

                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div>-</div>
                <button type="button" class="btn btn-default btn-outline-light">

                    <img src="~/tuerca16.png" />
                </button>
                <div>-</div>
                <button type="button" class="btn btn-default btn-outline-light">

                    <img src="~/tuerca16.png" />
                </button>
                <div>-</div>
                <button type="button" class="btn btn-default btn-outline-light">

                    <img src="~/tuerca16.png" />
                </button>
                <div>----------------------------------------------------</div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Tweet</span>
                    </button>
                </div>
                <div>-</div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Export</span>
                    </button>
                </div>
            </div>
            
            <!-- Caja de editor de texto -->
            <div class="d-flex justify-content-center bg-primary">
                
                <div class="bg-secondary w-75">
                    codigo<br>
                    codigo<br>
                    codigo<br>
                    codigo<br>
                </div>     
            </div>           
        </div>
        <br>
    </div>
    
    <!-- Mini menu -->
    <div>
        <div class="container">
            <div class="row d-flex justify-content-center text-white">
                <div class="col-1"><p><u>about</u></p></div>
                <div class="col-1"><p><u>source</u></p></div>
                <div class="col-1"><p><u>terms</u></p></div>
                <div class="col-1"><p><u>privacy</u></p></div>
                <div class="col-1"><p><u>offsets</u></p></div>
            </div>

        </div>
    </div>
    <!-- Texto de carbon -->
    <div class="d-flex justify-content-center text-white">
        <div>
            created by <font color="#FFD021">&#64carbon_app</font> ¬
            
        </div>
    </div>
    <!-- Un logo -->
    <div class="d-flex justify-content-center">
        <img src="~/logoFinal.png" />
    </div>

    <!-- Ejemplo -->


</body>
</html>
