
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--hola-->
    <!--para ver el cambio del icono tienes que refrescar el cache [ctrl+shift+R]-->
    <link rel="shortcut icon" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/carbonClon.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <title>Carbon | Create and share beautiful images of your source code</title>
    

</head>
<body>
    <br>
    <!-- Donde se encuentra el boton -->
    <div id ="cntBotonSing" class="d-grid gap-2 d-md-flex justify-content-end">
        <button  class="btn btn-outline-light" type="button">
            <img src="~/github16.png" />
            Sing in/up
        </button>
        
    </div>
    <!-- Logo -->
    <div class="d-flex justify-content-center">
        <img src="~/carbonLogo.png" />
    </div>

    <!-- Descripcion de la pagina -->
    <div class="d-flex justify-content-center text-white">
        <p class="h3">
            Create and share beautiful images of your source code.
        </p>
    </div>
    <div class="d-flex justify-content-center text-white">
        <p class="h3">
            Start typing or drop a file into the text area to get started.
        </p>
    </div>

    <!-- Inicio de la caja de herramientas y el editor de texto -->
    <div id="cajaPrincipalHerramientasEditor">
        <br>
        <!-- Marco con bordes blancos que contiene las herramientas y el editor de texto -->
        <div id="cajaBordesBlancos"class=" border border-white border-3 rounded">
            <!-- Caja de herramientas -->
            <div id="cajaHerramientas"><!--Inicio-->

                <!--Grupo de botones 2 -->
                <div class="btn-toolbar pull-right">
                    <!--Paleta-->
                    <div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-outline-light">
                                <img src="~/pale16.png" />
                            </button>

                            <div class="dropdown">
                                <button id="botonTema" class="btn btn-outline-light dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Duotone
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--Lenguaje-->
                    <div id="xd">
                       
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-outline-light">
                                <img src="~/mundo16.png" />
                            </button>

                            <div class="dropdown">
                                <button id="botonLenguaje" class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    D
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--Color-->
                    <div id="xd">
                        <button id="botonSinBordesColor1" type="button" class="btn btn-default btn-outline-light">
                            <!--<img src="~/tuerca16.png" />-->
                        </button>
                    </div>
                    <!--Tuerca-->
                    <div id="xd">
                        <button type="button" class="btn btn-default btn-outline-light ">
                            <img src="~/tuerca16.png" />
                        </button>
                    </div>
                    <!--Papel-->
                    <div id="xd">
                        <button type="button" class="btn btn-default btn-outline-light">
                            <img src="~/papeles16.png" />
                        </button>
                    </div>
                    <!--OPCIONES OCULTAS-->
                    <!--Negritas-->
                    <div id="xd">
                        <button id="botonSinBordes"type="button" class="btn btn-default btn-outline-light">
                            B
                        </button>
                    </div>
                    <!--Diagonal-->
                    <div id="xd">
                        <button id="botonSinBordes" type="button" class="btn btn-default btn-outline-light">
                            /
                        </button>
                    </div>
                    <!--Subrayado-->
                    <div id="xd">
                        <button id="botonSinBordes" type="button" class="btn btn-default btn-outline-light">
                            U
                        </button>
                    </div>
                    <!--Color letras-->
                    <div id="xd">
                        <button id="botonSinBordesColor2" type="button" class="btn btn-default btn-outline-light">
                            <!--<img src="~/tuerca16.png" />-->
                        </button>
                    </div>
                    <!--FIN OPCIONES OCULTAS-->
                    <!--Tweet-->
                    <div id="xd">
                        <div class="dropdown">
                            <button id="botonTweet" class="btn btn-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tweet
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!--Export-->
                    <div id="xd">
                        <div class="dropdown">
                            <button id="botonExport" class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
               

            </div><!--Fin-->
            
            
            <!-- Caja de editor de texto -->
            <div id="editorTexto">
                
                <div class="bg-secondary rounded">
                    <textarea id="texto"class="form-control" aria-label="With textarea">
                  
const pluckDeep = key => obj => key.split('.').reduce((accum, key) => accum[key], obj)

const compose = (...fns) => res => fns.reduce((accum, next) => next(accum), res)

const unfold = (f, seed) => {
    const go = (f, seed, acc) => {
    const res = f(seed)
    return res ? go(f, res[1], acc.concat([res[0]])) : acc
    }
    return go(f, seed, [])
}
                    </textarea>
                </div>     
            </div>           
        </div>
        <br>
    </div>
    
    <!-- Mini menu -->
    <div>
        <div class="container">
            <div class="row justify-content-center text-white">
                <div id="palabrasFinal"class="col-1 d-flex justify-content-center"><p><u>about</u></p></div>
                <div id="palabrasFinal" class="col-1 d-flex justify-content-center"><p><u>source</u></p></div>
                <div id="palabrasFinal" class="col-1 d-flex justify-content-center"><p><u>terms</u></p></div>
                <div id="palabrasFinal" class="col-1 d-flex justify-content-center"><p><u>privacy</u></p></div>
                <div id="palabrasFinal" class="col-1 d-flex justify-content-center"><p><u>offsets</u></p></div>
            </div>

        </div>
    </div>
    <!-- Texto de carbon -->
    <div class="d-flex justify-content-center text-white">
        <div>
            created by <font color="#FFD021">&#64carbon_app</font> ¬   
        </div>
    </div>
    <!-- Un logo -->
    <div class="d-flex justify-content-center">
        <img src="~/logoFinal.png" />
    </div>

    <!-- Ejemplo -->
</body>
</html>
